<div class="container pt-3">
  <div class="row">
    <%= render 'books/list', book: @book,nbook: @book_new, user: @user %>
    
    
    <div class="col-md-8 offset-md-1">
      <h2 class="border-bottom pb-2">Books</h2>
     <table class="w-100 ">
       <thead>
         <tr>
           <th></th>
           <th class="pb-2">Title</th>
           <th class="pb-2">Opinion</th>
           <th colspan="3"></th>
         </tr>
       </thead>
       <% @books.each do |book| %>
       <tbody class="border-top btn-outline-light">
           
         <td class=" pt-2 pb-2">
             <%= link_to user_path(@user.id) do %>
          <%= image_tag @user.get_profile_image(80,80)%></td>
         <% end %>
         <td><%= link_to book_path(book.id) do %>
           <%= book.title %></td>
           <% end %>
         <td class="text-dark"><%= book.body %></td>
         
       </tbody>
        <% end %>
         
     </table>
    </div>
  </div>
</div>