<div class="container mt-3">
  <div class="row">
    
    <%= render 'list', book: @book %>


    <div class="col-md-8">
      <h2>Books</h2>
      <table class="border-top  border-bottom w-100 ">
        <thead class=" font-weight-bold">
          <tr>
           <th></th>
           <th class="pt-3 pb-3 pr-5">Title</th>
           <th>Opinion</th>
           <th colspan="3"></th>
         </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody class="border-top border-bottom btn-outline-light">
          <td><%= link_to users_path(@user.id) do %>
          <%= image_tag book.user.get_profile_image(100,100) %>
          <% end %>
           </td>
          <td><%= link_to book.title,book_path(book.id) %></td>
          <td class=text-dark><%= book.body %></td>
        </tbody>
        <% end %>
      </table>
      
    </div>
    </div> 
 </div>